@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
// reset
*,
*:before,
*:after {
    box-sizing: border-box;
}

// variables
$body: #636363;
$white: #fff;
$right: #f1f1f1;
$info: #1a4178;
$lighter: #787878;
$darkest: #000;
$neon: #429786;
